/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#left_container {
    float: left;
    height: 400px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 12.998613%;
    background-color: rgb(240, 240, 240);
}

#logo {
    float: none;
    width: 69px;
    height: auto;
    margin-left: auto;
    margin-top: 26.6875px;
    clear: none;
    color: rgb(0, 0, 0);
    max-width: 72.60926342625px;
    margin-right: auto;
}

#imgProfesor {
    float: none;
    width: 122px;
    max-width: 122.28843914px;
    height: 121.99999959px;
    margin-left: auto;
    margin-top: 8.96875px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
}

#containerProfesor {
    float: left;
    height: 147px;
    margin-left: 0%;
    margin-top: 29.171875px;
    clear: none;
    width: 100%;
    background-color: rgb(180, 180, 180);
}

#tituloTema {
    float: left;
    font-size: 25px;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 23.6875px;
    clear: both;
    min-height: 0px;
    color: rgb(75, 151, 51);
    font-family: 'trebuchet ms';
}

#icono {
    float: left;
    width: auto;
    max-width: 13.435979%;
    height: auto;
    margin-left: 6.507372%;
    margin-top: 8px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0%;
}

#containerNuevoTema {
    float: left;
    height: 47px;
    margin-left: 0%;
    margin-top: 15.65625px;
    clear: both;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

#titulo {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 16.78408%;
    margin-top: 16px;
    clear: none;
    min-height: 0px;
    font-family: 'trebuchet ms';
    color: rgb(75, 151, 51);
}

#containerNuevoTema1 {
    float: left;
    height: 47px;
    margin-left: 0%;
    margin-top: 8.65625px;
    clear: both;
    width: 100.000004%;
    background-color: rgb(255, 255, 255);
    margin-right: 0%;
}

#titulo1 {
    float: left;
    font-size: 1em;
    width: 56.796083%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: 10.357906%;
    margin-top: 14.90625px;
    clear: none;
    min-height: 0px;
    font-family: 'trebuchet ms';
    color: rgb(75, 151, 51);
}

#image {
    float: left;
    width: auto;
    max-width: 26.183988492187503px;
    height: auto;
    margin-left: 7.887283%;
    margin-top: 7px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0%;
}

#container_contenido {
    float: left;
    height: 800px;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 86.461889%;
}

@media only screen and (max-width: 1705px) {
    #icono {
        width: 29px;
        height: 29px;
        max-width: 29.77748845875px;
    }

    #titulo1 {
        max-width: none;
        margin-left: auto;
        float: none;
        clear: none;
        margin-top: 16.8125px;
        height: auto;
        width: 32.318105%;
        margin-right: auto;
    }

    #image {
        margin-top: 7px;
        margin-left: 7.882121%;
        clear: none;
    }
}

@media only screen and (max-width: 1191px) {
    #titulo {
        visibility: hidden;
        margin-top: -21px;
        margin-left: 42.006459%;
        clear: none;
    }

    #icono {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
    }

    #titulo1 {
        visibility: hidden;
        margin-top: -23.140625px;
        clear: none;
    }

    #image {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
    }
}

@media only screen and (max-width: 935px) {
    #imgProfesor {
        max-width: 130.310691%;
        margin-top: 34.9375px;
        margin-left: auto;
        clear: none;
        height: 86.890625px;
        width: 86.890625px;
        margin-right: auto;
    }
}

@media only screen and (max-width: 752px) {
    #left_container {
        width: 19.24867%;
    }
}

@media only screen and (max-width: 354px) {
    #imgProfesor {
        margin-top: 49.65625px;
        clear: none;
        margin-left: auto;
        height: 56px;
        width: 56px;
        margin-right: auto;
    }

    #tituloTema {
        font-size: 20px;
    }
}
